<launch>
    <arg name="config_path" default="$(find sensor_pi)/config/all_sensor.json"/>
    <arg name="bus_id" default="1"/>
    <arg name="bus_type" default="smbus2"/>
    
    <node pkg="sensor_pi" name="sensor_pi_node" type="sensor_pi_node.py" output="screen">
	<param name="~config_path" value="$(arg config_path)" />
	<param name="~bus_id" value="$(arg bus_id)" />
	<param name="~bus_type" value="$(arg bus_type)" />
    </node>
</launch>
